:root {
  font-size: $font-size-root;
}

html {
  background-color: $primary;
  display: flex;
  justify-content: center;
}

body {
  max-width: 210mm;
  height: max-content;
  margin: 16px 0;
  padding: 24px 32px;
  font-family: $font-family-sans;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  font-style: normal;
  color: $content-primary;
  background-color: $body-bg;
  border-radius: 4px;
  box-shadow: $shadow-5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: inherit;
  font-weight: $font-weight-title;
  color: $content-primary;
}

// https: ; //type-scale.com/
h1 {
    font-family: $font-family-sans;
    font-size: $font-size-h1;
    line-height: initial;
}
h2 {
    font-family: $font-family-serif;
    font-size: $font-size-h2;
    line-height: initial;
}
h3 {
    font-family: $font-family-sans;
    font-size: $font-size-h3;
    line-height: initial;
}
h4 {
    font-family: $font-family-sans;
    font-size: $font-size-h4;
    line-height: initial;
}
h5 {
    font-family: $font-family-sans;
    font-size: $font-size-h5;
    line-height: initial;
}
h6 {
    font-family: $font-family-sans;
    font-size: $font-size-h6;
    line-height: initial;
}

p {
  font-family: $font-family-sans;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  color: $content-primary;
  margin: 0px 0px 20px 0px;
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    color: $link-hover;
  }
  &:focus {
    text-decoration: underline $link-hover;
    color: $link-focus;
  }
}

hr {
  border-color: $hr-border-color;
  border-width: 1px;
  border-style: solid;
  margin: 8px 0;
}

pre {
  display: inline;
  padding: 2px 6px;
  white-space: break-spaces;
  background-color: $color-neutral-90;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
}